# GIS folder and files
*GIS

# Maps and Plots in Figure folder
Figures/*Map*
Figures/*Station*
Figures/*Landuse*
Figures/*Plot*
Figures/*Dissolved*
Figures/*Ecoli*
Figures/*Enterococcus*
Figures/*pH*
Figures/*Temperature*
Figures/*Phosphorus*
Figures/*TSS*

# History files
.Rhistory
.Rapp.history

# R Data folder and files
*RData*

# Outputs
*docx
*html

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md
