# GIS folder and files
*GIS

# Reports Folder and files
*Reports/

# Maps and Plots in Figure folder
Figures/*Map*
Figures/*Station*
Figures/*Landuse*
Figures/*Plot*
Figures/*Dissolved*
Figures/*Ecoli*
Figures/*Enterococcus*
Figures/*pH*
Figures/*Temperature*
Figures/*Phosphorus*
Figures/*TSS*
Figures/Thumbs.db

# History files
.Rhistory
.Rapp.history

# R Data folder and files
*RData*

# Outputs
*docx
*html

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md
FiguresStation_Locations_files/fontawesome-4.7.0/bootstrap-theme.min.css
FiguresStation_Locations_files/fontawesome-4.7.0/bootstrap.min.css
FiguresStation_Locations_files/fontawesome-4.7.0/bootstrap.min.js
FiguresStation_Locations_files/fontawesome-4.7.0/font-awesome.min.css
FiguresStation_Locations_files/fontawesome-4.7.0/fonts/fontawesome-webfont.eot
FiguresStation_Locations_files/fontawesome-4.7.0/fonts/fontawesome-webfont.svg
FiguresStation_Locations_files/fontawesome-4.7.0/fonts/fontawesome-webfont.ttf
FiguresStation_Locations_files/fontawesome-4.7.0/fonts/fontawesome-webfont.woff
FiguresStation_Locations_files/fontawesome-4.7.0/fonts/FontAwesome.otf
FiguresStation_Locations_files/fontawesome-4.7.0/fonts/glyphicons-halflings-regular.eot
FiguresStation_Locations_files/fontawesome-4.7.0/fonts/glyphicons-halflings-regular.svg
FiguresStation_Locations_files/fontawesome-4.7.0/fonts/glyphicons-halflings-regular.ttf
FiguresStation_Locations_files/fontawesome-4.7.0/fonts/glyphicons-halflings-regular.woff
FiguresStation_Locations_files/fontawesome-4.7.0/fonts/ionicons.eot
FiguresStation_Locations_files/fontawesome-4.7.0/fonts/ionicons.svg
FiguresStation_Locations_files/fontawesome-4.7.0/fonts/ionicons.ttf
FiguresStation_Locations_files/fontawesome-4.7.0/fonts/ionicons.woff
FiguresStation_Locations_files/fontawesome-4.7.0/images/markers-matte.png
FiguresStation_Locations_files/fontawesome-4.7.0/images/markers-matte@2x.png
FiguresStation_Locations_files/fontawesome-4.7.0/images/markers-plain.png
FiguresStation_Locations_files/fontawesome-4.7.0/images/markers-shadow.png
FiguresStation_Locations_files/fontawesome-4.7.0/images/markers-shadow@2x.png
FiguresStation_Locations_files/fontawesome-4.7.0/images/markers-soft.png
FiguresStation_Locations_files/fontawesome-4.7.0/images/markers-soft@2x.png
FiguresStation_Locations_files/fontawesome-4.7.0/ionicons.min.css
FiguresStation_Locations_files/fontawesome-4.7.0/leaflet.awesome-markers.css
FiguresStation_Locations_files/fontawesome-4.7.0/leaflet.awesome-markers.js
FiguresStation_Locations_files/fontawesome-4.7.0/leaflet.awesome-markers.min.js
FiguresStation_Locations_files/htmlwidgets-1.3/htmlwidgets.js
FiguresStation_Locations_files/jquery-1.12.4/jquery.min.js
FiguresStation_Locations_files/leaflet-1.3.1/images/layers-2x.png
FiguresStation_Locations_files/leaflet-1.3.1/images/layers.png
FiguresStation_Locations_files/leaflet-1.3.1/images/marker-icon-2x.png
FiguresStation_Locations_files/leaflet-1.3.1/images/marker-icon.png
FiguresStation_Locations_files/leaflet-1.3.1/images/marker-shadow.png
FiguresStation_Locations_files/leaflet-1.3.1/leaflet.css
FiguresStation_Locations_files/leaflet-1.3.1/leaflet.js
FiguresStation_Locations_files/leaflet-binding-2.0.2/leaflet.js
FiguresStation_Locations_files/leaflet-easybutton-1.3.1/easy-button.css
FiguresStation_Locations_files/leaflet-easybutton-1.3.1/easy-button.js
FiguresStation_Locations_files/leaflet-easybutton-1.3.1/EasyButton-binding.js
FiguresStation_Locations_files/leaflet-easybutton-1.3.1/LICENSE
FiguresStation_Locations_files/leaflet-providers-1.1.17/leaflet-providers.js
FiguresStation_Locations_files/leaflet-providers-1.1.17/package.json
FiguresStation_Locations_files/leaflet-providers-1.1.17/providers.json
FiguresStation_Locations_files/leaflet-providers-1.1.17/rstudio_install.md
FiguresStation_Locations_files/leaflet-providers-plugin-2.0.2/leaflet-providers-plugin.js
FiguresStation_Locations_files/leafletfix-1.0.0/leafletfix.css
FiguresStation_Locations_files/Proj4Leaflet-1.0.1/proj4-compressed.js
FiguresStation_Locations_files/Proj4Leaflet-1.0.1/proj4leaflet.js
FiguresStation_Locations_files/rstudio_leaflet-1.3.1/images/1px.png
FiguresStation_Locations_files/rstudio_leaflet-1.3.1/rstudio_leaflet.css
